# source
lib
tests
index.ts
package-lock.json
tslint.json
tsconfig.json
.prettierrc

# github
.github
CONTRIBUTING.md
renovate.json

# misc
.commitlintrc.json
.release-it.json
.eslintignore
.eslintrc.js